*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(270deg,rgb(92, 58, 3), #0f172a,rgb(53, 51, 23));
    background-size: 600% 600%;
    animation: gradientMove 8s ease infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

@keyframes gradientMove {
    0% {background-position: 0%}
    50% {background-position: 100%}
    100% {background-position: 0%}
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 20px;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    color: white;
    overflow: hidden;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    padding: 1.2rem
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a {
    color: #cbd5f5;
    text-decoration: none;
    position: relative;
    transition: 0.3s;
}

/* Hover effect */
.nav-links a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background: #38bdf8;
    transition: 0.3s;
}

.nav-links a:hover::after {
    width: 100%;
}

.nav-links a:hover {
    color: #38bdf8;
}

/* Start main */
main {
    padding-top: 110px !important; /* navbar height because it's fixed position without height */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

/* Start Hero */
.hero {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero h1 {
    font-size: 48px;
}

.hero-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: #38bdf8;
    color: black;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

.hero-btn:hover {
    transform: scale(1.1);
}



/* game cards */
.card {
    background: #0f172a;
    color: white;
    border: 1px solid #666;
    border-top-right-radius: 55px;
    border-top-left-radius: 10px;
    background: none;
    overflow: hidden;
    transition: 0.3s;
    text-align: center;

}

.card:hover {

    transform: translateY(-8px) scale(1.02);
    box-shadow: 0 0 20px #38bdf8;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 10px;
}


/* Cards css */

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

/* custom cards */
.featured-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin: 60px 0;
    align-items: center;
}

.featured-card.reverse {
    direction: rtl;
}

.featured-card.reverse * {
    direction: ltr;
}

.featured-image img {
    width: 100%;
    border-radius: 16px;
    object-fit: cover;
}

.featured-content h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.featured-content p {
    color: #cbd5e1;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    background: #38bdf8;
    color: #000;
    border-radius: 8px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #0f172a;
    color: #fff;
}

/* Logo */
.nav-logo a {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

/* Links */
.nav-links {
    display: flex;
    gap: 25px;
    list-style: none;
}

.nav-links a {
    color: #cbd5e1;
    text-decoration: none;
    transition: 0.3s;
    position: relative;
}

/* Hover effect */
.nav-links a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #38bdf8;
    transition: 0.3s;
}

.nav-links a:hover::after {
    width: 100%;
}

/* Active */
.nav-links a.active {
    color: #38bdf8;
}

/* Icons */
.nav-icons i {
    margin-left: 15px;
    cursor: pointer;
}

/* Mobile */
.menu-toggle {
    display: none;
    cursor: pointer;
}

@media (max-width: 768px) {

    .nav-links {
        position: fixed;
        top: 60px;
        right: 0;
        flex-direction: column;
        background: #0f172a;
        width: 200px;
        padding: 20px;
        transform: translateX(100%);
        opacity: 0;
        transition: .3s;
    }

    .nav-links.active {
        opacity: 1;
        transform: translateX(0);
    }

    .menu-toggle {
        display: block;
    }
}


.footer {
    background:#020617;
    color:#fff;
    padding:40px 20px;
    text-align:center;
    width: 100%;
}


/* Skelton */

.skeleton {
    background: linear-gradient(90deg,#eee,#ddd,#eee);
    animation: pulse 1.5s infinite;
}